@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/darkBlue";
@import "themes/lightBlue";

body {
  font: var(--font-m);
  color: var(--primary-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
  text-align: center;
  display: block;
  position: relative;
  padding-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app-link {
  color: var(--link-color);
  text-decoration: none;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
