.Text {
  display: block;
}

.primary {
  .title {
    color: var(--primary-color);
    font: var(--font-l);
  }

  .text {
    color: var(--secondary-color);
    font: var(--font-m);
  }
}

.light {
  .title {
    color: #444;
    font: var(--font-l);
  }

  .text {
    color: #555;
    font: var(--font-m);
  }
}

.error {
  .title {
    color: var(--error-prim);
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
    color: var(--error-dark);
  }
}

.inverted {
  .title {
    font: var(--font-l);
    color: var(--primary-color-inverted);
  }

  .text {
    font: var(--font-m);
    color: var(--secondary-color-inverted);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
