.Input {
  display: block;
  padding: 5px;
}

.placeholder {
  font-size: 13px;
  font-weight: bold;
  color: #555;
  margin: 0;
  padding-left: 5px;
  text-align: left;
}

.inputEntity {
  color: #333;
  width: 180px;
  border-radius: 4px;
  padding-left: 6px;
  border: solid 2px #eee;
}
