.Select {
  display: block;
  padding: 5px;
}

.title {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding-left: 5px;
  text-align: left;
}

.selectEntity {
  color: #333;
  width: 180px;
  border-radius: 4px;
  padding-left: 6px;
  border: solid 2px #eee;
}

.readOnly {
  background: none;
  border: none;
  color: var(--secondary-color);
}

.light {
  color: #333;
}

.primary {
  color: var(--primary-color);
}
