.app_dark_blue_theme {
  --bg-color: #0f3a84;
  --bg-color-inverted: #f4f6fb;
  --primary-color: #fbf4fa;
  --primary-color-inverted: #0f3a84;
  --secondary-color: #dbd4da;
  --secondary-color-inverted: #0f3a84;
  --accent-color: green;
  --link-color: #ccc;

  // shadows
  --shadow: 0 0 15px rgb(6 6 6 / 40%);
}
