.app_light_blue_theme {
  --bg-color: #f4f6fb;
  --bg-color-inverted: #0f3a84;
  --primary-color: #2f5aa4;
  --primary-color-inverted: #f4f6fb;
  --secondary-color: #2f5aa4;
  --secondary-color-inverted: #f4f6fb;
  --link-color: #ccc;

  // shadows
  --shadow: 0 0 15px rgb(6 6 6 / 10%);
}
