.Navbar {
  height: var(--navbar-height);
  max-width: 800px;
  margin: 12px auto;
  padding: 20px;
  box-shadow: 0 0 15px 1px rgb(6 6 6 / 10%);
  border-radius: 12px;
  background: #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
}

.links {
  display: flex;
  justify-content: space-around;
}
